body{
  width:100%;
  height:100%;
  font-family: 'Noto Sans JP', sans-serif;
}
body.noscroll{
  overflow:hidden;
}
div,img{
  max-width:100%;
  height:auto;
}
iframe{
  max-width:100%;
}
table{
  max-width:100%;
}
#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
}

header{
  width:100%;
  height:100%;
}
header .header__bar{
 height:10vh;
 display: flex;
 justify-content:space-between;
 align-items:center;
}
header .header__bar .header__title h1{
  width:auto;
  height:35px;
  font-size:24px;
  margin-left:35px;
}
header .header__bar .header__content{
  width:auto;
  height:13px;
  margin-right:110px;
}

header .header__bar .header__content .header__lists{
  display:flex;
  width:100%;
  height:100%;
}

header .header__bar .header__content .header__lists li{
  font-size:10px;
  margin-right:110px;
}
header .header__bar .header__hidden__content{
  display:none;
  visibility:hidden;  
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:hidden;
}
#first__view{
  width:100%;
  height:100%;
  position:relative;
}
#first__view .image__content{
  max-width:1500px;
  height:100%;
  display:flex;
  justify-content:space-around;
}
#first__view .image__content .image__left{
  width:50%;
  height:520px;
  margin-left:6%;
  background-image:url("../images/img13.jpg");
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  z-index:-1;
}
#first__view .image__content .image__right{
  width:50%;
  height:520px;
  margin-left:20px;
  background-image:url("../images/img27.jpg");
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0.6;
  z-index:-1;
}
#first__view .first__view__box{
  position:absolute;
  top:150px;
  margin:auto;
  left:100px;
  right:0;
  background-color:#fff;
  width:480px;
  height:250px;
  opacity:0.6;
}
#first__view .talent__name__box{
  position:absolute;
  top:120px;
  margin:auto;
  left:130px;
  right:0;
  height:100px;
  width:400px;
}
#first__view .talent__name__box .talent__name{
  font-size:60px;
  font-weight:bold;
  text-shadow:1px 1px #fff;
  max-width:240px;
  border-bottom:1px solid #000;
}    
#first__view .first__view__box .site__name{
  padding-top:80px;
  padding-left:50px;
  font-size:26px;
}    
#first__view .first__view__box .site__name span{
  margin-left:20px;
}    
#first__view .first__view__box p{
 margin-top:2vh;
 line-height:1.5em;
 font-size:12px;
 font-weight:bold;
 text-shadow:1px 1px #eee;
 padding-left:50px;
}
#first__view .slide__arrow{
  position:absolute;
  bottom:0px;
  left:10px;
  border-top:60px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 60px solid #fff;
  border-left:160px solid #fff;
  width:200px;
  height:50px;
}
#first__view .slide__arrow p{
  font-size:14px;
  font-family:Helvetica;
  width:300px;
  margin-left:-130px;
  margin-top:50px;
  cursor:pointer;
}
 #first__view .slide__arrow p span{
  margin-left:20px;
}

main{
  width:100%;
  height:100%;
}
main .blog__contents{
  max-width:720px;
  height:100%;
  margin-top:100px;
  margin:auto;
}
main .blog__contents .blog__top {
  text-align: center;
}
main .blog__contents .blog__top h2 {
  font-size: 34px;
  font-weight: bold;
  padding-top:91px;
  text-align:center;
}
main .blog__contents .blog__top p {
  font-size: 16px;
  text-align:center;
}
main .blog__navi__tag {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  color: rgb(255, 20, 147);
}
main .blog__navi__tag .insta__tag {
  width: 78px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .insta__tag:hover{
  background-color:#FF1493;
  color:#fff;
}    
main .blog__navi__tag .offshot__tag {
  width: 91px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .offshot__tag:hover {
  background-color:#FF1493;
  color:#fff;
}    
main .blog__navi__tag .event__tag {
  width: 68px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .event__tag:hover{
  background-color:#FF1493;
  color:#fff;
}    
main .blog__navi__tag .live__tag {
  width: 57px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .live__tag:hover{
  background-color:#FF1493;
  color:#fff;
}    
main .blog__navi__tag .shooting__tag {
  width: 45px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .inview__tag {
  width: 60px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .inview__tag:hover{
  background-color:#FF1493;
  color:#fff;
}    
main .blog__navi__tag .shooting__tag:hover{
  background-color:#FF1493;
  color:#fff;

}    
main .blog__navi__tag .member__tag {
  width: 68px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border:1px solid #FF1493;
  border-radius: 3px;
}
main .blog__navi__tag .member__tag:hover {
  background-color:#FF1493;
  color:#fff;
}    
main .blog__poto__box {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
main .blog__contents .blog__poto__box .blog__poto__index {
  width:100%;
  height:100%;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  
}
main .blog__contents .blog__poto__box .blog__poto__index li{
  width:calc(720px/3 - 30px);
  height: 250px;
  box-shadow: 0 6px 20px -10px rgba(0,0,0, 0.8);
  margin-bottom: 50px;
  margin-right: 30px;
  position: relative;
  border-radius: 10px;
  border:1px solid #eee;
  overflow: hidden;
}
main .blog__poto__box .blog__poto__index li:nth-of-type(3n){
  margin-right:0px;
}    

main .blog__poto__box .blog__poto__index li .blog__image{
   width:100%;
   height:145px;
   background-position:center center;
   background-size:cover;
}    
main .blog__poto__box .blog__poto__index li .blog__title {
   font-size: 12px;
   margin: 10px 0px;
   padding: 0px 10px;
}
main .blog__poto__box .blog__poto__index li .blog__story {
   font-size: 10px;
   color: rgb(187, 187, 187);
   padding: 0px 10px;
   overflow:hidden;
   text-overflow:ellipsis;
   display:-webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
main .blog__contents .blog__poto__box .blog__poto__index .menu__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;
} 

main .blog__contents .blog__poto__box .blog__poto__index .live__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;
} 
main .blog__contents .blog__poto__box .blog__poto__index .offshot__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;
}    
main .blog__contents .blog__poto__box .blog__poto__index .insta__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;
}    
main .blog__contents .blog__poto__box .blog__poto__index .member__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;

}    
main .blog__contents .blog__poto__box .blog__poto__index .event__box.outview{
  display:none;
  opacity:0;
  visibility:hidden;

}    
main .blog__contents .blog__poto__box .blog__poto__index .shooting__box.outview{
   display:none;
   opacity:0;
   visibility:hidden;
}    
main .blog__poto__box .blog__poto__index li .blog__day {
   font-size: 10px;
   color: rgb(187, 187, 187);
   margin-top: 50px;
   position: absolute;
   bottom: 10px;
   padding: 0px 10px;
}
main .blog__poto__box .blog__poto__index li .insta__tag {
  font-size:10px;
  width:80px;
  height:14px;
  border-radius:10px;
  background-color:#FF1493;
  color:#fff;
  position:absolute;
  bottom:10px;
  right:-10px;
  display:flex;
  justify-content:center;
  align-items:center;
} 
main .blog__poto__box .blog__poto__index li .event__tag {
  font-size:10px;
  width:80px;
  height:14px;
  border-radius:10px;
  background-color:#FF1493;
  color:#fff;
  position:absolute;
  bottom:10px;
  right:-10px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main .blog__poto__box .blog__poto__index li .offshot__tag {
   font-size:10px;
   width:80px;
   height:14px;
   border-radius:10px;
   background-color:#FF1493;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:-10px;
   display:flex;
   justify-content:center;
   align-items:center;
}    
main .blog__poto__box .blog__poto__index li .member__tag {
   font-size:10px;
   width:80px;
   height:14px;
   border-radius:10px;
   background-color:#FF1493;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:-10px;
   display:flex;
   justify-content:center;
   align-items:center;
}    
main .blog__poto__box .blog__poto__index li .poto__tag {
   font-size:10px;
   width:80px;
   height:14px;
   border-radius:10px;
   background-color:#FF1493;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:-10px;
   display:flex;
   justify-content:center;
   align-items:center;
}    
main .blog__poto__box .blog__poto__index li .live__tag {
   font-size:10px;
   width:80px;
   height:14px;
   border-radius:10px;
   background-color:#FF1493;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:-10px;
   display:flex;
   justify-content:center;
   align-items:center;
}    
 main .blog__poto__box .blog__poto__index li .menu__tag {
   font-size:10px;
   width:80px;
   height:14px;
   border-radius:10px;
   background-color:#FF1493;
   color:#fff;
   position:absolute;
   bottom:10px;
   right:-10px;
   display:flex;
   justify-content:center;
   align-items:center;
}    
  
footer{
  margin-top:100px;
  width:100%;
  height:100%;
}
footer .footer__list{
  width:100%;
  height:400px;
  background-color:#000;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

footer .footer__list h2{   
  font-size:30px;
  color:#fff;
  margin-bottom:5px;
}
 footer .footer__list p{                                                    font-size:12px;
  color:#f4ebeb;
  text-align:center;
  opacity:0.6;
}    
   
@media screen and (max-width:1150px){
#first__view .first__view__box{
  top:140px;
}
#first__view .talent__name__box{
  top:110px;
}    
#first__view .first__view__btn{
  top:360px;
  left:20%;
  width:300px;
  height:60px;
} 
}
    
    
@media screen and (max-width:960px){
header .header__content{
  display:none;
  visibility:hidden;
}
header .header__bar{
  position:relative;
  z-index:4;
}
header .header__bar .header__hidden__content{
  display:block;
  visibility:visible;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:2vh;
  left:90%;
  margin-left:1vw;
}

header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:40px;
  border-top:4px solid #000;
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(20px) rotate(-315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__middle{
  opacity:0;
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:30px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-5px) rotate(315deg);
  transition-duration:0.5s;
  width:40px;
}    
header .header__bar .header__menu__navi{
  display:none;
  visibility:visible;
  position:absolute;
  position:fixed;
  top:9vh;
  left:0;
  width:100%;
  height:100%;
  z-index:3;
}    
header .header__bar .header__menu__navi .navi__menu{
  width:100%;
  height:100vh;
  position:fixed;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
header .header__bar .header__menu__navi .navi__menu li{
  font-size:40px;
  margin-bottom:50px;
}
#first__view .first__view__box{
  display:none;
  visibility:hidden;
}
#first__view .talent__name__box{
  display:none;
  visibility:hidden;
}


#first__view .talent__name__box{
  top:110px;
}    
#first__view .first__view__btn{
  top:360px;
}
}

@media screen and (max-width:800px){
header .header__bar{
  height:10vh;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:85%;
  margin-left:0vw;
}
    
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  transition-duration:0.5s;
  width:30px;
}    

#first__view .image__content .image__left{
  width:100%;
  height:500px;
  margin-left:0%;
  opacity:0.9;
  background-image:url("../images/img23.png");
  background-position:center center;
  background-size:cover;
  z-index:-1;
}
#first__view .image__content .image__center{
  display:none;
}
#first__view .image__content .image__right{
  display:none;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  color:#fff;
  text-shadow:1px 1px 1px #000;
  font-weight:bold;
  max-width:160px;
  border-bottom:1px solid #fff;
}
#first__view .first__view__box .site__name{
  text-align:center;
  font-size:25px;
}    
#first__view .first__view__box p{
  text-align:center;
  font-size:18px;
}
#first__view .first__view__box{
  width:260px;
  left:0px;
}
#first__view .first__view__btn{
  display:none;
}
#first__view .talent__name__box{
  position:absolute;
  left:20px;
  top: 170px;
  height:100px;
  width:250px;
}    

#first__view .first__view__box .talent__name{
  font-size:28px;
  font-weight:bold;
  max-width:115px;
}
#first__view .first__view__box .site__name{
  font-size:25px;
  padding-top:60px;
  padding-left:10px;
}      
#first__view .first__view__box{
  width:350px;
  height:220px;
  top:220px;
}    
#first__view .first__view__box p{
 text-align:center;
 margin-top:20px;
 padding-left:0px;
 line-height:1.5em;
 font-size:18px;
}
#first__view .slide__arrow{
  display:none;
}
main .blog__contents{
  width:500px;        
}
main .blog__contents .blog__navi__tag{
  margin:auto;
  margin-top:30px;
  margin-left:20px;
}
main .blog__contents .blog__navi__tag li{
  margin:10px;
}    
main .blog__contents .blog__navi__tag:nth-of-type(5n){
  margin-right:0px;
}    
main .blog__contents .blog__navi__tag:first-child{
  margin-left:30px;
}

main .blog__contents .blog__poto__box .blog__poto__index{
  flex-direction:column;
  margin:auto;
}
main .blog__contents .blog__poto__box .blog__poto__index li {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-bottom:50px;
}
main .blog__poto__box .blog__poto__index li .blog__image{
  height: 300px;
}

}

@media screen and (max-width:650px){

header .header__bar .header__title h1{
  font-size:16px;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:30px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:30px;
  border-top:2px solid #000;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:20px;
  border-top:2px solid #000;
}
header .header__bar .header__menu__navi .navi__menu li{
  font-size:30px;
  margin-bottom:50px;
}
main .blog__navi__tag{
  flex-wrap:wrap;
}

main .blog__contents .blog__poto__box .blog__poto__index li {
  width: 80%;
  height: 400px;
  margin-bottom:20px;
}
main .blog__poto__box .blog__poto__index li img {
  height: 250px;
}
footer .footer__list h2{
  font-size:25px;
}    

}

@media screen and (max-width:450px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
}    

#first__view .first__view__box{
  top:220px;
  width:300px;
}
#first__view .talent__name__box{
  top:190px;
  height:100px;
  max-width:160px;
}    

#first__view .talent__name__box .talent__name{
  font-size:40px;
}
#first__view .first__view__box .site__name{
  font-size:23px;
}      
   
#first__view .first__view__box p{
  margin-top:2vh;
  line-height:1.5em;
  font-size:10px;
}
main .blog__contents{
  width:350px;        
}
main .blog__contents .blog__navi__tag{
  width:100%;
  margin-top:20px;
}    
main .blog__navi__tag .jemini__tag {
   margin-bottom:10px;
}
main .blog__poto__box{
  margin-top:50px;
}    
main .blog__contents .blog__poto__box .blog__poto__index li {
  height:300px;
}
main .blog__contents .blog__poto__box .blog__poto__index li .blog__image{
  height:200px;
}    
footer .footer__list{
  height:300px;
}
}

@media screen and (max-width:380px){
#first__view .first__view__box{
  top:220px;
}
#first__view .talent__name__box{
  top:195px;
  height:100px;
}    
main .blog__contents .blog__poto__box .blog__poto__index li {
  margin-left:0px;
  margin:auto;
  margin-left:38px;
  margin-bottom:20px;
  width:80%;
}    
}
@media screen and (max-width:330px){
   
#first__view .first__view__box{
  top:215px;
  width:280px;
  height:200px;
}
#first__view .talent__name__box{
  top:190px;
  height:100px;
  width:250px;
}
main .blog__contents .blog__navi__tag {
  width: 300px;
  margin-left: 10px;
  margin-top: 20px;
}
main .blog__contents .blog__poto__box .blog__poto__index li {
  margin-left:20px;
  margin-bottom:20px;
}
}

@media screen and (max-width:300px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
  width:20px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
  width:20px;
}    
  
#first__view .first__view__box{
  width:250px;
}
#first__view .talent__name__box{
  width:180px;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  max-width:160px;
}    
#first__view .first__view__box .site__name{
  font-size:20px;
}  
#first__view .first__view__box p{
  font-size:15px;
}
main .blog__contents .blog__top{
  width:80%;
}
main .blog__contents .blog__navi__tag{
  margin-left:5px;
  margin-right:5px;
  width:80%;
}    
main .blog__contents .blog__poto__box .blog__poto__index li {
    width: 65%;
    height: 300px;
    margin-left:26px;
}
main .blog__contents .blog__poto__box .blog__poto__index li .blog__image{
    height: 180px;
}

footer .footer__list h2{
  font-size:25px;
} 
}
