body{
  width:100%;
  height:100%;
  font-family: 'Noto Sans JP', sans-serif;
}
body.noscroll{
  overflow:hidden;
}    
div,img{
  max-width:100%;
  height:auto;
}
iframe{
  max-width:100%;
}
table{
  max-width:100%;
}
#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
}

header{
  width:100%;
  height:100%;
}
header .header__bar{
 height:10vh;
 display: flex;
 justify-content:space-between;
 align-items:center;
}
header .header__bar .header__title h1{
  font-size:24px;
  margin-left:35px;
  width:auto;
  height:35px;
}
header .header__bar .header__content{
  width:auto;
  height:13px;
  margin-right:110px;
}

header .header__bar .header__content .header__lists{
  display:flex;
  width:100%;
  height:100%;
}

header .header__bar .header__content .header__lists li{
  font-size:16px;
  margin-right:110px;
}
header .header__bar .header__hidden__content{
  display:none;
  visibility:hidden;  
}
 header .header__bar .header__content .header__lists li:hover{
   animation: fontAnimation 0.2s;
   animation-fill-mode:forwards;
}
 @keyframes fontAnimation{
   100%{
        color:#f680fc;
 }
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:hidden;
}
#first__view{
  width:100%;
  height:100%;
  position:relative;
}
#first__view .image__content{
  max-width:1500px;
  height:100%;
  display:flex;
}
#first__view .image__content .image__left{
  width:50%;
  height:520px;
  margin-left:6%;
  background-image:url("../images/img19.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  z-index:-1;
}
#first__view .image__content .image__right{
  width:50%;
  height:520px;
  margin-left:20px;
  background-image:url("../images/img28.jpg");
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0.6;
  z-index:-1;
}
#first__view .first__view__box{
  position:absolute;
  top:150px;
  margin:auto;
  left:100px;
  right:0;
  background-color:#fff;
  width:480px;
  height:250px;
  opacity:0.6;
}
#first__view .talent__name__box{
  position:absolute;
  top:120px;
  margin:auto;
  left:150px;
  right:0;
  height:100px;
  width:400px;
}
#first__view .talent__name__box .talent__name{
  font-size:60px;
  font-weight:bold;
  max-width:240px;
  border-bottom:1px solid #000;
  text-shadow:1px 1px #d6cfcf;
}    
#first__view .first__view__box .site__name{
  padding-top:80px;
  padding-left:70px;
  font-size:26px;
  text-shadow:1px 1px #d6cfcf;
}    
#first__view .first__view__box .site__name span{
  margin-left:20px;
}    
#first__view .first__view__box p{
 margin-top:2vh;
 line-height:1.5em;
 font-size:12px;
 padding-left:70px;
  text-shadow:1px 1px #d6cfcf;
}
 #first__view .slide__arrow{
  position:absolute;
  bottom:0px;
  left:10px;
  border-top:60px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 60px solid #fff;
  border-left:160px solid #fff;
  width:300px;
  height:50px;
}
 #first__view .slide__arrow p{
  font-size:14px;
  font-family:Helvetica;
  width:300px;
  margin-left:-130px;
  margin-top:50px;
  cursor:pointer;
}
#first__view .slide__arrow p span{
  margin-left:20px;
}
main{
  width:100%;
  height:100%;
}
main #login__content{
  width:100%;
  height:100%;
}
main #login__content .login__form{
  max-width:750px;
  height:550px;
  margin:auto;
  margin-top:90px;
  background-color:#F2F2F2;
}
main #login__content .login__form h2{
  text-align:center;
  font-size:16px;
  padding-top:50px;
}
main #login__content .login__form p{
  font-size:14px;
  margin-bottom:20px;
  text-align:center;
}
main #login__content .login__form .login__info{
  width:480px;
  height:140px;
  background-color:#fff;
  margin:auto;
}
main #login__content .login__form .login__info .login__number{
  display:flex;
  justify-content:center;
}  
main #login__content .login__form .login__info .login__number .member__number{
  font-size:10px;
  margin-right:5px;
  margin-top:30px;
}    
main #login__content .login__form .login__info .login__number input{
  width:250px;
  height:21px;
  margin-top:25px;
  padding:5px;
  font-size:10px;
  border:1px solid #000;
}
main #login__content .login__form .login__password{
  display:flex;
  justify-content:center;
}    
main #login__content .login__form .login__password .member__password{
  font-size:10px;
  margin-top:5px;
  margin-right:5px;
  margin-left:-8px;
}
main #login__content .login__form .login__password input{
  width:250px;
  height:21px;
  padding:5px;
  font-size:10px;
  border:1px solid #000;
}    
main #login__content .login__form .password__note{
  font-size:10px;
  color:#666;
  margin-top:-10px;
}
main #login__content .login__form .login__btn{
  width:210px;
  height:40px;
  background-color:#FF1493;
  border-radius:100px;
  margin:auto;
  margin-top:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}      
main #login__content .login__form .login__btn input{
  font-size:12px;
  color:#fff;
} 
main #login__content .login__form .new__user{
  width:100%;
  height:200px;
  margin-top:40px;
  position:relative;
}
main #login__content .login__form .new__user h3{
  font-size:14px;
  color:#757575;
  text-align:center;
}    
main #login__content .login__form .new__user .border__left{
  border-bottom:1px solid #757575;
  width:100px;
  height:10px;
  position:absolute;
  top:0;
  left:170px;
} 
main #login__content .login__form .new__user .border__right{
  border-bottom:1px solid #757575;
  width:100px;
  height:10px;
  position:absolute;
  top:0;
  right:170px;
}    
   
main #login__content .login__form .new__user .new__user__registar{
  width:210px;
  height:40px;
  margin:auto;
  margin-top:20px;
  border:1px solid #FF1493;
  border-radius:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main #login__content .login__form .new__user .new__user__registar p{
  font-size:12px;
  color:#FF1493;
  margin-bottom:0px;
}    
footer{
  margin-top:100px;
  width:100%;
  height:100%;
}
footer .footer__list{
  width:100%;
  height:400px;
  background-color:#000;
}

footer .footer__list h2{   
  font-size:24px;
  color:#fff;
  text-align:center;
  padding-top:150px;
  margin-bottom:5px;
}
footer .footer__list p{
 font-size:12px;
 color:#f4ebeb;                                                            text-align:center;
 opacity:0.6;
}    
@media screen and (max-width:1060px){
#first__view .first__view__box{
  top:140px;
}
#first__view .talent__name__box{
  top:110px;
}    
#first__view .first__view__btn{
  top:360px;
  left:20%;
  width:300px;
  height:60px;
  background-color:#000;
}
#first__view .first__view__btn p{
  font-size:13px;
  color:#fff;
}
}    
@media screen and (max-width:970px){
header .header__content{
  display:none;
  visibility:hidden;
}
header .header__bar{
  position:relative;        
}
header .header__bar .header__hidden__content{
  display:block;
  visibility:visible;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:90%;
  margin-right:30px;
}

header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(20px) rotate(-315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__middle{
  opacity:0;
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:30px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-5px) rotate(315deg);
  transition-duration:0.5s;
  width:40px;
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:visible;
  position:absolute;
  position:fixed;
  top:9vh;
  left:0;
  width:100%;
  height:100%;
  z-index:3;
}    
header .header__bar .header__menu__navi .navi__menu{
  width:100%;
  height:100vh;
  position:fixed;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
header .header__bar .header__menu__navi .navi__menu li{
  font-size:40px;
  margin-bottom:50px;
}    
   
#first__view .first__view__box{
  display:none;
}

#first__view .talent__name__box{
  display:none;
}    
#first__view .image__content .image__left{
   width:100%;
   margin-left:0;
}
#first__view .image__content .image__right{
  display:none;
}

#first__view .slide__arrow{
  display:none;
}
main #login__content .login__form{
  width:600px;
  height:500px;
}
main #login__content .login__form .new__user .border__right{
  display:none;
}
main #login__content .login__form .new__user .border__left{
  display:none;
}
}

@media screen and (max-width:700px){
header .header__bar{
  height:10vh;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:85%;
  margin-left:0vw;
}
    
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  transition-duration:0.5s;
  width:30px;
}    

#first__view .image__content .image__left{
  width:100%;
  height:500px;
  opacity:0.9;
  background-image:url("../images/img10.jpg");
  background-position:center center;
  background-size:cover;
  z-index:-1;
  margin-left:0px;
  margin-bottom:80px;
}
#first__view .image__content .image__center{
  display:none;
}
#first__view .image__content .image__right{
  display:none;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  color:#fff;
  text-shadow:1px 1px 1px #000;
  font-weight:bold;
  max-width:160px;
  border-bottom:1px solid #fff;
}
#first__view .first__view__box .site__name{
  text-align:center;
  font-size:25px;
}    
#first__view .first__view__box p{
 text-align:center;
 font-size:18px;
}
#first__view .first__view__box{
  width:260px;
}
#first__view .first__view__btn{
  display:none;
}
#first__view .talent__name__box{
  position:absolute;
  top:180px;
  left:0;
  right:0;
  margin:auto;
  height:100px;
  width:250px;
}    

#first__view .first__view__box .talent__name{
  font-size:28px;
  font-weight:bold;
  max-width:115px;
}
#first__view .first__view__box .site__name{
  font-size:25px;
  padding-top:60px;
  padding-left:0px;
}      
#first__view .first__view__box{
  width:350px;
  height:220px;
  top:220px;
  left:0;
  right:0;
  margin:auto;
}    
#first__view .first__view__box p{
 text-align:center;
 margin-top:20px;
 line-height:1.5em;
 font-size:18px;
 padding:0px;
}


footer .footer__list h2{
  padding-top:130px;   
}
}
@media screen and (max-width:650px){

header .header__bar .header__title h1{
  font-size:16px;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:30px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:30px;
  border-top:2px solid #000;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:20px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  width:30px;
}     
header .header__bar .header__menu__navi .navi__menu li{
  font-size:30px;
   margin-bottom:50px;
}    
#first__view .slide__arrow{
  display:none;  
}
main #login__content .login__form{
  max-width:450px;
  height:450px;
  margin-top:50px;
}
main #login__content .login__form h2{
  text-align:center;
  font-size:16px;
  padding-top:30px;
}
main #login__content .login__form p{
  font-size:14px;
  margin-bottom:20px;
  text-align:center;
}
main #login__content .login__form .login__info{
  width:350px;
  height:140px;
}
main #login__content .login__form .login__info .login__number .member__number{
  font-size:10px;
  margin-right:5px;
  margin-top:30px;
}    
main #login__content .login__form .login__info .login__number input{
  width:200px;
  height:21px;
}
main #login__content .login__form .login__password input{
  width:200px;
  height:21px;
}    
main #login__content .login__form .login__btn{
  width:150px;
  height:30px;
}         
main #login__content .login__form .new__user .border__left{
  width:50px;
  top:0;
  left:90px;
} 
main #login__content .login__form .new__user .border__right{
  width:50px;
  height:10px;
  top:0;
  right:90px;
}    
   
main #login__content .login__form .new__user .new__user__registar{
  width:150px;
  height:30px;
}    
main #login__content .login__form .new__user .new__user__registar p{
  font-size:10px;
}    

footer .footer__list h2{
  font-size:25px;
}    

}

@media screen and (max-width:450px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
}
main #login__content .login__form{
  max-width:300px;
  height:400px;
  margin-top:30px;
}
main #login__content .login__form h2{
  font-size:10px;
  padding-top:20px;
}
main #login__content .login__form p{
  font-size:10px;
  margin-bottom:10px;
  text-align:center;
}
main #login__content .login__form .login__info{
  width:250px;
  height:130px;
}
main #login__content .login__form .login__info .login__number .member__number{
  font-size:10px;
  margin-right:5px;
  margin-top:25px;
}    
main #login__content .login__form .login__info .login__number input{
  width:150px;
  height:21px;
  margin-top:20px;
}
main #login__content .login__form .login__password{
  display:flex;
  justify-content:center;
  margin-top:20px;
}    
main #login__content .login__form .login__password input{
  width:150px;
  margin-top:0px;
}
main #login__content .login__form .password__note{
  margin-top:5px;
  margin-left:30px;
}
main #login__content .login__form .login__btn{
  width:150px;
  height:30px;
} 
main #login__content .login__form .new__user{
  width:100%;
  height:100px;
  margin-top:20px;
}
main #login__content .login__form .new__user h3{
  font-size:12px;
}    
main #login__content .login__form .new__user .border__left{
  left:25px;
  margin-top:-5px;
} 
main #login__content .login__form .new__user .border__right{
  right:25px;
  margin-top:-5px;
}    
   
main #login__content .login__form .new__user .new__user__registar{
  width:150px;
  height:30px;
}    
}
@media screen and (max-width:380px){
#first__view .first__view__box{
  left:8vw;
  top:220px;
}
#first__view .talent__name__box{
  position:absolute;
  top:195px;
  left:40px;
  height:100px;
}    
}
@media screen and (max-width:330px){
#first__view .first__view__box{
  left:6vw;
  top:215px;
  width:280px;
  height:200px;
}
#first__view .talent__name__box{
  position:absolute;
  top:190px;
  left:30px;
  height:100px;
  width:250px;
}    
main #login__content .login__form{
  max-width:265px;
}
main #login__content .login__form .login__info{
  width:200px;
  height:130px;
}
main #login__content .login__form .login__info .login__number .member__number{
  font-size:10px;
  margin-right:5px;
  margin-top:25px;
}    
main #login__content .login__form .login__info .login__number input{
  width:100px;
}    
main #login__content .login__form .login__password input{
  width:100px;
}
main #login__content .login__form .login__btn{
  width:130px;
  height:30px;
} 
main #login__content .login__form .new__user{
  width:100%;
  height:100px;
  margin-top:20px;
}
main #login__content .login__form .new__user h3{
  font-size:12px;
}    
main #login__content .login__form .new__user .border__left{
  width:30px;
  left:15px;
  margin-top:-5px;
} 
main #login__content .login__form .new__user .border__right{
  right:15px;
  width:30px;
  margin-top:-5px;
}    
   
main #login__content .login__form .new__user .new__user__registar{
  width:130px;
  height:30px;
}    

}    
@media screen and (max-width:300px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
  width:20px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
  width:20px;
}    

#first__view .first__view__box{
  width:250px;
  left:5vw;
}
#first__view .talent__name__box{
  width:180px;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  max-width:160px;
}    
#first__view .first__view__box .site__name{
  font-size:20px;
}  
#first__view .first__view__box p{
  font-size:15px;
}
footer .footer__list h2{
  font-size:25px;
  padding-top:100px;
} 
}
