body{
  width:100%;
  height:100%;
  font-family: 'Noto Sans JP', sans-serif;
}
div,img{
  max-width:100%;
  height:auto;
}
iframe{
  max-width:100%;
}
table{
  max-width:100%;
}
#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
}

header{
  width:100%;
  height:100%;
}
header .header__bar{
 height:10vh;
 display: flex;
 justify-content:space-between;
 align-items:center;
}
header .header__bar .header__title h1{
  font-size:24px;
  margin-left:35px;
  width:auto;
  height:35px;
}
header .header__bar .header__content{
  width:auto;
  height:13px;
  margin-right:110px;
}

header .header__bar .header__content .header__lists{
  display:flex;
  width:100%;
  height:100%;
}

header .header__bar .header__content .header__lists li{
  font-size:10px;
  margin-right:110px;
}
header .header__bar .header__hidden__content{
  display:none;
  visibility:hidden;  
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:hidden;
}
#first__view{
  width:100%;
  height:100%;
  position:relative;
}
#first__view .image__content{
  max-width:1500px;
  height:100%;
  display:flex;
}
#first__view .image__content .image__left{
  width:30%;
  height:520px;
  margin-left:6%;
  background-image:url("../images/img1.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  z-index:-1;
}
#first__view .image__content .image__center{
  width:30%;
  height:520px;
  margin-left:20px;
  background-image:url("../images/img7.jpg");
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0.6;
  z-index:-1;
}
#first__view .image__content .image__right{
  width:35%;
  height:520px;
  margin-left:20px;
  background-image:url("../images/img3.jpg");
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0.6;
  z-index:-1;
}
#first__view .first__view__box{
  position:absolute;
  top:150px;
  margin:auto;
  left:100px;
  right:0;
  background-color:#fff;
  width:480px;
  height:250px;
}
#first__view .talent__name__box{
  position:absolute;
  top:120px;
  margin:auto;
  left:150px;
  right:0;
  height:100px;
  width:400px;
}
#first__view .talent__name__box .talent__name{
  font-size:60px;
  font-weight:bold;
  max-width:240px;
  border-bottom:1px solid #000;
}    
#first__view .first__view__box .site__name{
  padding-top:80px;
  padding-left:70px;
  font-size:26px;
}    
#first__view .first__view__box .site__name span{
  margin-left:20px;
}    
#first__view .first__view__box p{
 margin-top:2vh;
 line-height:1.5em;
 font-size:12px;
 padding-left:70px;
}
#first__view .first__view__btn{
  position:absolute;
  font-family:Helvetica;
  top:350px;
  left:20%;
  width:400px;
  height:80px;
  background-color:#000;
  display:flex;
  justify-content:center;
  align-items:center;
}
#first__view .first__view__btn p{
  font-size:10px;
  color:#fff;
}    
#first__view .first__view__btn p span{
  margin-left:5vw;
  font-size:10px;
}
 #first__view .slide__arrow{
   position:absolute;
   bottom:0px;
   left:10px;
   border-top:60px solid transparent;
   border-right: 160px solid transparent;
   border-bottom: 60px solid #fff;
   border-left:160px solid #fff;
   width:200px;
   height:50px;
   display:flex;
 }
 #first__view .slide__arrow .slide__arrow__left{
   width:20px;
   height:20px;
   font-size:14px;
   color:#bbb;
   margin-left:-120px;
   margin-right:50px;
   margin-top:50px;
 }
 #first__view .slide__arrow .slide__arrow__right{
   width:20px;
   height:20px;
   font-size:14px;
   color:#bbb;
   margin-top:50px;
 }
main{
  width:100%;
  height:100%;
}
main #registar__content{
  width:100%;
  height:100%;;
  display:flex;
  justify-content:center;
  align-items:center;
}
main #registar__content .registar__card__info{
  margin:100px 0px;
  width:900px;
  height:580px;
  background-color: #F2F2F2;
  border-radius:5px;
}
main #registar__content .registar__card__info .card__campany h3{ 
  margin-top:30px;
  margin-bottom:10px;
  margin-left:100px;
  font-size:14px;
  font-weight:bold;
  position:relative;
}
main #registar__content .registar__card__info .card__campany span{
  display:inline-block;
  width:40px;
  height:20px;
  background-color:#FF1493;
  margin-left:20px;
  position:absolute;
  top:-2px;
  left:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}    
main #registar__content .registar__card__info .card__campany span p{
   font-size:10px;
   color:#fff;
 }   
main #registar__content .registar__card__info .card__campany select{
  width:700px;
  height:35px;
  background-color:#fff;
  margin-left:80px;
  font-color:#eee;
  font-size:13px;
  border:1px solid #939393;
  padding:9px;
} 
 
main #registar__content .registar__card__info .number__float h3{
  margin-left:100px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
  font-weight:bold;
  position:relative;
}
main #registar__content .registar__card__info .number__float h3 span{
  display:inline-block;
  width:40px;
  height:20px;
  background-color:#FF1493;
  margin-left:20px;
  position:absolute;
  top:-2px;
  left:70px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main #registar__content .registar__card__info .number__float h3 span p{
  font-size:10px;
  color:#fff;
}    
main #registar__content .registar__card__info .number__float .number__input{
  margin-left:100px;
}
main #registar__content .registar__card__info .number__float input{
  width:135px;
  height:35px;
  padding-left:10px;
  background-color:#fff;
  border:1px solid #939393;
}    
main #registar__content .registar__card__info .number__float em{
  display:inline-block;
  width:20px;
  border-top:1px solid #939393;
  margin:0px 14px;
}
main #registar__content .registar__card__info .form__date{
  margin-left:100px;
  margin-top:20px;
}
main #registar__content .registar__card__info .form__date h3{
  font-size:14px;
  font-weight:bold;
  position:relative;
}    
main #registar__content .registar__card__info .form__date h3 span{
  display:inline-block;
  width:40px;
  height:20px;
  background-color:#FF1493;
  margin-left:20px;
  position:absolute;
  top:-2px;
  left:60px;
  display:flex;
  justify-content:center;
  align-items:center;

}    
main #registar__content .registar__card__info .form__date h3 span p{
  font-size:10px;
  color:#fff;
  width:20px;
  height:10px;
}    
main #registar__content .registar__card__info .form__date select{
  width:305px;
  height:35px;
  margin-top:10px;
  margin-left:0px;
  background-color:#fff;
  border:1px solid #939393;
  font-size:12px;
  padding:8px;
}    
main #registar__content .registar__card__info .form__date span{
  display:inline-block;
  width:12px;
  height:10px;
  margin-left:20px;
  font-size:12px;
}    
main #registar__content .registar__card__info .form__date span p{
  width:100%;
  height:100%;
  font-size:12px;
}    
main .card__security{
  width:100%;
  height:100%;
}
main .card__security .security__top{
  margin-left:100px;
}    
main .card__security .security__top h3{
  font-size:14px;
  font-weight:bold;
  margin-top:20px;
  position:relative;
}
main .card__security .security__top h3 span{
  display:inline-block;
  width:40px;
  height:20px;
  background-color:#FF1493;
  margin-left:20px;
  position:absolute;
  top:-2px;
  left:45px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main .card__security .security__top h3 span p{
  font-size:10px;
  color:#fff;
}    
main .card__security  .security__top input{
  width:700px;
  height:35px;
  margin-top:10px;
  padding-left:10px;
  font-size:12px;
  background-color:#fff;
  border:1px solid #939393;
}    
main .card__security .security__bottom h3{
  font-size:14px;
  font-weight:bold;
  margin-top:10px;
  position:relative;
}    
main .card__security .security__bottom h3 span{
  display:inline-block;
  width:40px;
  height:20px;
  background-color:#FF1493;
  margin-left:20px;
  position:absolute;
  top:-2px;
  left:125px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main .card__security .security__bottom h3 span p{
  font-size:10px;
  color:#fff;
}    
main .card__security .security__bottom input{
  width:700px;
  height:35px;
  margin-top:10px;
  margin-left:-20px;
  font-size:12px;
  background-color:#fff;
  border:1px solid #939393;
}
main .submit input{
 margin:auto;
 margin-top:50px;
 width:240px;
 height:40px;
 background-color:#FF1493;
 color:#fff;
 font-size:12px;
 border-radius:100px;
 display:flex;
 justify-content:center;
 align-items:center;
}

footer{
  margin-top:100px;
  width:100%;
  height:100%;
}
footer .footer__list{
  width:100%;
  height:400px;
  background-color:#000;
}

footer .footer__list h2{   
  font-size:30px;
  color:#fff;
  text-align:center;
  padding-top:150px;
}
   
@media screen and (max-width:1060px){
#first__view .first__view__box{
  top:140px;
}
#first__view .talent__name__box{
  top:110px;
}    
#first__view .first__view__btn{
  top:360px;
  left:20%;
  width:300px;
  height:60px;
  background-color:#000;
}
#first__view .first__view__btn p{
  font-size:13px;
  color:#fff;
}
}    
@media screen and (max-width:970px){
header .header__content{
  display:none;
  visibility:hidden;
}
header .header__bar{
  position:relative;        
}
header .header__bar .header__hidden__content{
  display:block;
  visibility:visible;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:90%;
  margin-right:30px;
}

header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(20px) rotate(-315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__middle{
  opacity:0;
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:30px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-5px) rotate(315deg);
  transition-duration:0.5s;
  width:40px;
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:visible;
  position:absolute;
  position:fixed;
  top:9vh;
  left:0;
  width:100%;
  height:100%;
  z-index:3;
}    
header .header__bar .header__menu__navi .navi__menu{
  width:100%;
  height:100vh;
  position:fixed;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
header .header__bar .header__menu__navi .navi__menu li{
  font-size:40px;
  margin-bottom:50px;
}    
   
#first__view .first__view__box{
  width:400px;
}

#first__view .talent__name__box{
  top:110px;
}    
#first__view .first__view__btn{
  top:360px;
}
main #registar__content .registar__card__info{
  width:600px;        
  height:600px;
  margin-top:100px;
  margin-bottom:20px;
}
main #registar__content .registar__card__info .card__campany select{
  width:400px;
}    
main #registar__content .registar__card__info .number__float .number__input input{
  width:60px;
}
main #registar__content .registar__card__info .form__date select{
  width:155px;
}
main .card__security .security__top input{
  width:400px;
}
}

@media screen and (max-width:700px){
header .header__bar{
  height:10vh;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:85%;
  margin-left:0vw;
}
    
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  transition-duration:0.5s;
  width:30px;
}    

#first__view .image__content .image__left{
  width:100%;
  height:500px;
  opacity:0.9;
  background-image:url("../images/img1.jpg");
  background-position:center center;
  background-size:cover;
  z-index:-1;
  margin-left:0px;
}
#first__view .image__content .image__center{
  display:none;
}
#first__view .image__content .image__right{
  display:none;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  color:#fff;
  text-shadow:1px 1px 1px #000;
  font-weight:bold;
  max-width:160px;
  border-bottom:1px solid #fff;
}
#first__view .first__view__box .site__name{
  text-align:center;
  font-size:25px;
}    
#first__view .first__view__box p{
 text-align:center;
 font-size:18px;
}
#first__view .first__view__box{
  width:260px;
}
#first__view .first__view__btn{
  display:none;
}
#first__view .talent__name__box{
  position:absolute;
  top:180px;
  left:0;
  right:0;
  margin:auto;
  height:100px;
  width:250px;
}    

#first__view .first__view__box .talent__name{
  font-size:28px;
  font-weight:bold;
  max-width:115px;
}
#first__view .first__view__box .site__name{
  font-size:25px;
  padding-top:60px;
  padding-left:0px;
}      
#first__view .first__view__box{
  width:350px;
  height:220px;
  top:220px;
  left:0;
  right:0;
  margin:auto;
}    
#first__view .first__view__box p{
 text-align:center;
 margin-top:20px;
 line-height:1.5em;
 font-size:18px;
 padding:0px;
}
main #registar__content .registar__card__info{
  width:400px;        
  height:600px;
  margin-top:100px;
  margin-bottom:20px;
}
main #registar__content .registar__card__info .card__campany h3{
  margin-left:50px;
}    
main #registar__content .registar__card__info .card__campany select{
  width:300px;
  margin-left:30px;
} 
main #registar__content .registar__card__info .number__float h3{
  margin-left:50px;
}
main #registar__content .registar__card__info .number__float .number__input{
  margin-left:50px;
}
main #registar__content .registar__card__info .number__float em {
  margin:0px;
}    
main #registar__content .registar__card__info .number__float .number__input input{
  width:56px;
}
main #registar__content .registar__card__info .form__date {
  margin-left:50px;
}    
main #registar__content .registar__card__info .form__date select{
  width:105px;
}
main .card__security .security__top {
  margin-left:50px;
}    
main .card__security .security__top input{
  width:300px;
}

footer .footer__list h2{
  padding-top:130px;   
}
}
@media screen and (max-width:650px){

header .header__bar .header__title h1{
  font-size:16px;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:30px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:30px;
  border-top:2px solid #000;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:20px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  width:30px;
}     
header .header__bar .header__menu__navi .navi__menu li{
  font-size:30px;
   margin-bottom:50px;
}    
#first__view .slide__arrow{
  display:none;  
}
footer .footer__list h2{
  font-size:25px;
}    

}

@media screen and (max-width:450px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
}    

#first__view .first__view__box{
  top:220px;
  width:300px;
}
#first__view .talent__name__box{
  position:absolute;
  top:190px;
  height:100px;
  max-width:160px;
}    

#first__view .talent__name__box .talent__name{
  font-size:40px;
}
#first__view .first__view__box .site__name{
  font-size:23px;
}      
   
#first__view .first__view__box p{
 line-height:1.5em;
 font-size:16px;
}
main #registar__content .registar__card__info{
  width:300px;        
  height:600px;
  margin-top:50px;
  margin-bottom:20px;
}
main #registar__content .registar__card__info .card__campany h3{
  margin-left:20px;
}    
main #registar__content .registar__card__info .card__campany select{
  width:255px;
  font-size:10px;
  margin-left:0px;
} 
main #registar__content .registar__card__info .number__float h3{
  margin-left:20px;
}
main #registar__content .registar__card__info .number__float .number__input{
  margin-left:20px;
}    
main #registar__content .registar__card__info .number__float .number__input input{
  width:45px;
  font-size:10px;
}
main #registar__content .registar__card__info .form__date {
  margin-left:20px;
}    
main #registar__content .registar__card__info .form__date select{
  width:85px;
  font-size:10px;
}
main .card__security .security__top {
  margin-left:20px;
}    
main .card__security .security__top input{
  width:255px;
  font-size:10px;
}
   
}

@media screen and (max-width:380px){
#first__view .first__view__box{
  left:8vw;
  top:220px;
}
#first__view .talent__name__box{
  position:absolute;
  top:195px;
  left:28vw;
  height:100px;
}    
}
@media screen and (max-width:330px){
#first__view .first__view__box{
  left:6vw;
  top:215px;
  width:280px;
  height:200px;
}
#first__view .talent__name__box{
  position:absolute;
  top:190px;
  left:23vw;
  height:100px;
  width:250px;
}    
 
}    
@media screen and (max-width:300px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
  width:20px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
  width:20px;
}    

#first__view .first__view__box{
  width:250px;
  left:5vw;
}
#first__view .talent__name__box{
  left:20vw;
  width:180px;
}
#first__view .first__view__box .talent__name{
  font-size:40px;
  max-width:160px;
}    
#first__view .first__view__box .site__name{
  font-size:20px;
}  
#first__view .first__view__box p{
  font-size:15px;
}
main #registar__content .registar__card__info{
  width:250px;        
  height:600px;
  margin-top:50px;
  margin-bottom:20px;
}
main #registar__content .registar__card__info .card__campany h3{
  margin-left:10px;
}    
main #registar__content .registar__card__info .card__campany select{
  width:230px;
  font-size:10px;
  margin-left:10px;
} 
main #registar__content .registar__card__info .number__float h3{
  margin-left:10px;
}
main #registar__content .registar__card__info .number__float .number__input{
  margin-left:10px;
}    
main #registar__content .registar__card__info .number__float .number__input input{
  width:38px;
  font-size:10px;
}
main #registar__content .registar__card__info .form__date {
  margin-left:10px;
}    
main #registar__content .registar__card__info .form__date select{
  width:70px;
  font-size:10px;
}
main .card__security .security__top {
  margin-left:10px;
}    
main .card__security .security__top input{
  width:230px;
  font-size:10px;
}
 
footer .footer__list h2{
  font-size:25px;
  padding-top:100px;
} 
}
