body{
  width:100%;
  height:100%;
  font-family: 'Noto Sans JP', sans-serif;
}
body.noscroll{
  overflow:hidden;
}
div,img{
  max-width:100%;
  height:auto;
}
iframe{
  max-width:100%;
}
table{
  max-width:100%;
}
#wrapper{
  overflow:hidden;
  width:100%;
  height:100%;
}

header{
  width:100%;
  height:100%;
}
header .header__bar{
 height:10vh;
 display: flex;
 justify-content:space-between;
 align-items:center;
}
header .header__bar .header__title h1{
  font-size:24px;
  width:auto;
  height:35px;
  margin-left:35px;
}
header .header__bar .header__content{
  width:auto;
  height:13px;
  margin-right:110px;
}

header .header__bar .header__content .header__lists{
  display:flex;
  width:100%;
  height:100%;
}

header .header__bar .header__content .header__lists li{
  font-size:10px;
  margin-right:110px;
}
header .header__bar .header__hidden__content{
  display:none;
  visibility:hidden;  
}
header .header__bar .header__menu__navi{
  display:none;
  visibility:hidden;
}
main{
  width:100%;
  height:100%;
}
main #main__view{
  margin-top:90px;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;

}
main #main__view .select__view__content{
  max-width:650px;
  height:100%;
}
main #main__view .select__view__content .view__tag{
  width:73px;
  height:23px;
  margin-bottom:13px;
  background-color:#FF1493;
  color:#fff;
  border-radius:2px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main #main__view .select__view__content .view__tag p{
  font-size:12px;
}
main #main__view .select__view__content .view__title{
  font-size:20px;
  margin:15px 0px;
}    
main #main__view .select__view__content .view__day{
  font-size:14px;
  color:#B3B3B3;
  margin:10px 0px;
}
main #main__view .select__view__content .view__image{
  width:650px;
  height:400px;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

}        
main #main__view .select__sns__tag{
  max-width:650px;
  height:50px;
}
main #main__view .select__sns__tag .sns__tags{
  width:100%;  
  display:flex;
  justify-content:flex-start;  
}
main #main__view .select__sns__tag .sns__tags li{
  width:calc(100%/5);
  height:20px;
  margin-top:10px;
  border-radius:2px;
  display:flex;
  justify-content:center;
  align-items:center;
}    
main #main__view .select__sns__tag .sns__tags .i__twitter{
  background-color:#1DA1F2;
  color:#fff;
  margin-right:5px;
}    
main #main__view .select__sns__tag .sns__tags .i__face__book{
  background-color:#1877f2;
  color:#fff;
  margin-right:5px;
}    
main #main__view .select__sns__tag .sns__tags .i__b{
  background-color:#008fde;
  color:#fff;
  margin-right:5px;
}    
main #main__view .select__sns__tag .sns__tags .i__pocket{
  background-color:#f7091d;
  color:#fff;
  margin-right:5px;
}    
main #main__view .select__sns__tag .sns__tags .i__line{
  background-color:#06C755;
  color:#fff;
  margin-right:5px;
  letter-spacing:-0.001rem;
}
main #main__view .select__sns__tag .sns__tags .i__line i{
 background-color:#fff;
 background-size:cover;
 line-height:0.7;
 color:#06C755;
}    
main .brand__view__content{
  max-width:650px;
  height:100%;
  margin:auto;
  margin-top:67px;
}
main .brand__view__content .brand__view__top{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
main .brand__view__content .brand__view__top .brand__bar{
  width:100%;
  height:100%;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__tag{
  width:100%;
  height:50px;
  border-radius:5px;
  background-color:#FFBBD4;
  color:#fff;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__tag h3{
  font-size:20px;
  padding:13px 0px 13px 10px;
}    
main .brand__view__content .brand__view__top .brand__bar p{
  margin:20px 0px;
  font-size:14px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__view__image{
  max-width:650px;
  height:400px;
  margin-top:20px;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
}    
main .brand__view__bottom{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
main .brand__view__bottom .brand__view__poto{
  width:650px;
  height:100%;
}
main .brand__view__bottom .brand__view__poto .poto__text{
  width:100%;
  height:100%;
  margin-top:30px;
}    
main .brand__view__bottom .brand__view__poto .poto__text h3{
  font-size:20px;
  padding-bottom:10px;
  border-bottom:3px dotted #FF1493;
}

main .brand__view__bottom .brand__view__poto .poto__text p{
  font-size:14px;
  margin-top:30px;
}    
main .brand__view__bottom .brand__view__poto .brand__view__image{
  max-width:650px;
  height:400px;
  margin-top:20px;
  margin-bottom:50px;
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

}    
main .brand__view__bottom .brand__view__poto .member__info{
  max-width:650px;
  height:120px;
  border-radius:2px;
  background-color:#eee;
  text-align:center;
}

main .brand__view__bottom .brand__view__poto .member__info h2{
  font-size:16px;
  font-weight:bold;
  padding-top:10px;
  margin-bottom:10px;
}    
main .brand__view__bottom .brand__view__poto .member__info p{
  font-size:14px;
}    
main .brand__view__bottom .brand__view__poto .member__info .registar__btn{
  width:400px;
  height:30px;
  margin:auto;
  background-color:#FF1493;
  margin-top:10px;
  border-radius:2px;
  display:flex;
  justify-content:center;
  align-items:center;

}    
main .brand__view__bottom .brand__view__poto .member__info .registar__btn p{
  font-size:16px;
  font-weight:bold;
  color:#fff;
}    
footer{
  margin-top:100px;
  width:100%;
  height:100%;
}
footer .footer__list{
  width:100%;
  height:400px;
  background-color:#000;
}

footer .footer__list h2{   
  font-size:30px;
  color:#fff;
  text-align:center;
  padding-top:150px;
}
   
@media screen and (max-width:1060px){

}    
@media screen and (max-width:960px){
header .header__content{
  display:none;
  visibility:hidden;
}
header .header__bar{
  position:relative;
  z-index:4;
}
header .header__bar .header__hidden__content{
  display:block;
  visibility:visible;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:2vh;
  left:90%;
  margin-left:1vw;
}

header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:40px;
  border-top:4px solid #000;
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(20px) rotate(-315deg);
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:40px;
  border-top:4px solid #000;
  margin-top:8px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__middle{
  opacity:0;
  transition-duration:0.5s;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:30px;
  border-top:4px solid #000;
  margin-top:8px;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-5px) rotate(315deg);
  transition-duration:0.5s;
  width:40px;
}    
header .header__bar .header__menu__navi{
  display:none;
  visibility:visible;
  position:absolute;
  position:fixed;
  top:9vh;
  left:0;
  width:100%;
  height:100%;
  z-index:3;
}    
header .header__bar .header__menu__navi .navi__menu{
  width:100%;
  height:100vh;
  position:fixed;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
header .header__bar .header__menu__navi .navi__menu li{
  font-size:40px;
  margin-bottom:50px;
}
main #main__view{
  margin-top:20px;
}
main #main__view .select__view__content{
  width:500px;
}
main #main__view .select__view__content .view__image{
  width:500px;
}
main .brand__view__content{
  width:500px;
}
}

@media screen and (max-width:700px){
header .header__bar{
  height:10vh;
}
header .header__bar .header__hidden__content .humburger__menu{
  width:100px;
  height:5vh;
  position:absolute;
  top:1vh;
  left:85%;
  margin-left:0vw;
}
    
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  margin-top:2vh;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-4px) rotate(315deg);
  transition-duration:0.5s;
  width:40px;
}    

footer .footer__list h2{
  padding-top:130px;   
}
}

@media screen and (max-width:650px){

header .header__bar .header__title h1{
  font-size:16px;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__top{
  width:30px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu .humburger__middle{
  width:30px;
  border-top:2px solid #000;
}    
header .header__bar .header__hidden__content .humburger__menu .humburger__bottom{
  width:30px;
  border-top:2px solid #000;
}
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(0px) rotate(315deg);
  transition-duration:0.5s;
  width:30px;
} 
header .header__bar .header__menu__navi .navi__menu li{
  font-size:30px;
  margin-bottom:50px;
}    
main #main__view .select__view__content{
  width:400px;
}
main #main__view .select__view__content .view__image{
  width:400px;
  height:300px;
}    
main #main__view .select__view__content .view__image img{
  width:400px;
  height:300px;
}
main .brand__view__content{
  width:400px;
}

main #main__view .select__view__content .view__title {
  font-size:16px;
}    

main .brand__view__content .brand__view__top .brand__bar .brand__tag {
  height:30px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__tag h3 {
    font-size: 13px;
    padding: 8px 0px 8px 10px;
}
main .brand__view__content .brand__view__top .brand__bar .brand__view__image{
  width:400px;
  height:300px;
}    
main .brand__view__bottom .brand__view__poto .brand__view__image{
  width:400px;
  height:300px;
}
main .brand__view__bottom .brand__view__poto .poto__text h3{
  font-size:16px;
}
main .brand__view__bottom .brand__view__poto .member__info h2{
  font-size:14px;
}
main .brand__view__bottom .brand__view__poto .member__info p{
  font-size:12px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn {
    width: 250px;
    height: 30px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn p{
  font-size:13px;
}    

footer .footer__list h2{
  font-size:25px;
}    

}

@media screen and (max-width:450px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
  width:30px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
}
main #main__view .select__view__content{
  width:280px;        
}
main #main__view .select__view__content .view__title {
  font-size:16px;
}
main #main__view .select__view__content .view__image{
  width:280px;
  height:300px;
}    
main .brand__view__content{
  width:280px;
}    
main .brand__view__content .brand__view__top .brand__bar{
  width:280px;
}

main .brand__view__content .brand__view__top .brand__bar .brand__tag {
  height:30px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__view__image{
  width:280px;
  height:300px;
}    
main .brand__view__bottom .brand__view__poto{
  width:280px;
}
main .brand__view__bottom .brand__view__poto .poto__text h3{
  font-size:16px;
}
main .brand__view__bottom .brand__view__poto .brand__view__image{
  width:280px;  
  height:300px;
}
main .brand__view__bottom .brand__view__poto .member__info h2{
  font-size:12px;
}
main .brand__view__bottom .brand__view__poto .member__info p{
  font-size:10px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn {
    width: 200px;
    height: 30px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn p{
  font-size:12px;
}    
footer .footer__list{
  height:300px;
}
}
@media screen and (max-width:380px){
main #main__view .select__view__content{
  width:250px;        
}
main #main__view .select__view__content .view__title {
  font-size:16px;
}
main .brand__view__content .brand__view__top .brand__bar{
  width:250px;
}
main #main__view .select__view__content .view__image{
  width:250px;
  height:250px;
}
main .brand__view__content .brand__view__top .brand__bar .brand__tag {
  height:30px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__view__image{
  width:250px;
  height:250px;
}    
main .brand__view__bottom .brand__view__poto{
  width:250px;
}
main .brand__view__bottom .brand__view__poto .poto__text h3{
  font-size:16px;
}
main .brand__view__bottom .brand__view__poto .brand__view__image{
  width:250px;  
  height:250px;
}
}
@media screen and (max-width:300px){
header .header__bar .header__hidden__content .humburger__menu.active .humburger__bottom{
  transform: translateY(-10px) rotate(315deg);
  transition-duration:0.5s;
  width:20px;
}    
header .header__bar .header__hidden__content .humburger__menu.active .humburger__top{
  transform: translateY(10px) rotate(-315deg);
  transition-duration:0.5s;
  width:20px;
}
main #main__view .select__view__content{
  width:250px;        
}
main #main__view .select__view__content .view__title {
  font-size:16px;
}
main #main__view .select__view__content .view__image{
  width:100%;
  height:300px;
}    
main #main__view .select__view__content .view__image img{
  width:250px;
  height:250px;
}
main .brand__view__content .brand__view__top .brand__bar{
  width:250px;
}

main .brand__view__content .brand__view__top .brand__bar .brand__tag {
  height:30px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__tag h3 {
    font-size: 13px;
    padding: 8px 0px 8px 10px;
}
main .brand__view__content .brand__view__top .brand__bar .brand__view__image{
  width:250px;
  height:300px;
}    
main .brand__view__content .brand__view__top .brand__bar .brand__view__image img{
  width:250px;
  height:250px;
}
main .brand__view__bottom .brand__view__poto{
  width:250px;
}
main .brand__view__bottom .brand__view__poto .poto__text h3{
  font-size:16px;
}
main .brand__view__bottom .brand__view__poto .brand__view__image{
  height:300px;
}
main .brand__view__bottom .brand__view__poto .brand__view__image img{
  width:300px;
  height:250px;
}
main .brand__view__bottom .brand__view__poto .member__info h2{
  font-size:14px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn {
    width: 200px;
    height: 30px;
}
main .brand__view__bottom .brand__view__poto .member__info .registar__btn p{
  font-size:13px;
}    

footer .footer__list h2{
  font-size:25px;
  padding-top:100px;
} 
}
